
@font-face {
    font-family: 'RIDIBatang';
    src: url('httdivs://cdn.jsdelivr.net/gh/divrojectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*배경이미지집어넣기*/

.bady{
    background-image: url("./image/image rain");
}

/*상단페이지 정렬*/

.Page
{position: absolute;
    width: 540px;
    height: 769px;
    left: calc(50% - 540px/2 - 0.1px);
    top: 110px;
    }

.kanji
{   position: absolute;
    width: 167px;
    height: 60px;
    left: calc(50% - 167px/2 - 0.5px);
    top: 290px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */
    
    text-align: center;
    
    color: #1A1A1A;
}    

.Experience
{
position: absolute;
width: 800px;
height: 60px;
left: -130px;
top: 350px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

text-align: center;

color: #7E7E7E;
}

.ill
{
position: absolute;
height: 31px;
left: 0%;
right: 0%;
top: 450px;
}

.Download
{
position: absolute;
width: 196px;
height: 49px;
left: calc(50% - 196px/2);
top: 500px;
   
}
/* 폰트효과 
메인 gnb와 로고*/

.kangi
{
position: absolute;
width: 130px;
height: 30px;
left: 40px;
top: 40px;

font-family: 'Purple Purse';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 30px;
/* identical to box height, or 100% */
}

.kangi2
{   position: absolute;
    height: 50px;
    left: 280px;
    right: 101.64%;
    top: 27px;    
}

.kangi3
{
position: absolute;
height: 44px;
left: 0%;
right: 84.72%;
top: 74px;

}

.Frame
{   position: absolute;
    height: 118px;
    left: 0%;
    right: 0%;
    top: 0px; 
}    

ul{
  list-style: none;
}

@import 
url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

.font1
{   position: absolute;
    height: 30px;
    left: 70%;
    right: 53.37%;
    top: 180px;

    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */
    
    
    color: #1A1A1A;   
}

.font2
{position: absolute;
height: 30px;
left: 70%;
right: 52.4%;
top: 230px;

text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */


color: #1A1A1A;
}

.font3
{position: absolute;
height: 30px;
left: 70%;
right: 48.56%;
top: 280px;

text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */


color: #1A1A1A;
}
.font4
{position: absolute;
height: 30px;
left: 70%;
right: 43.27%;
top: 330px;

text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */


color: #1A1A1A;
}
.font5
{position: absolute;
height: 30px;
left: 70%;
right: 46.1%;
top: 383px;

text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */


color: #1A1A1A;
}
.font6
{   position: absolute;
    height: 30px;
    left: 70%;
    right: 43.27%;
    top: 440px;
    
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */
    
    
    color: #1A1A1A;      
}

.font7
{   position: absolute;
    width: 300px;
    height: 200px;
    left: 75%;
    right: 24.36%;
    top: 680px;

    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 100% */
    
    
    color: #1A1A1A;   
}

.font8
{position: absolute;
height: 30px;
left: 72%;
right: -12.18%;
top: 700px;

text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 30px;
/* identical to box height, or 231% */


color: #7E7E7E;
}

.About
{   position: absolute;
    height: 45px;
    left: 1.82%;
    right: 78.09%;
    top: 850px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    /* identical to box height, or 100% */
    
    
    color: #1A1A1A;   
}

.Designer
{position: absolute;
height: 33px;
left: 1.82%;
right: 39.56%;
top: 1000px;

font-family: 'Poppins';
font-style: normal;
font-weight: bolder;
font-size: 22px;
line-height: 33px;
/* identical to box height, or 150% */


color: #1A1A1A;}

.p2
{
position: absolute;
height: 150px;
left: 1.82%;
right: 14.53%;
top: 1030px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #7E7E7E;
}

.p3
{
position: absolute;
height: 33px;
left: 1.82%;
right: 40.57%;
top: 1220px;

font-family: 'Poppins';
font-style: normal;
font-weight: bolder;
font-size: 22px;
line-height: 33px;
/* identical to box height, or 150% */


color: #1A1A1A; 
}
.p4
{
    
position: absolute;
height: 60px;
left: 1.82%;
right: 13.02%;
top: 1250px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* or 176% */


color: #7E7E7E;
}

/*그래프넣기*/

.layer
{
position: absolute;
height: 57px;
left: 0.73%;
right: 50%;
top: 1350px;  
}
.frame2
{
width:270.3457946777344px;
height:57px;
padding:0px;
top:40px;
position:relative;
}
.frame3
{
width:229.53887939453125px;
height:16px;
padding:0px;
left:20.4px;
top:41px;
position:relative;
}
.rectangle
{
width:229.53887939453125px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle2
{
width:169.3486785888672px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.06px;
position:absolute;
}
.javascript
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.4px;
position:absolute;
width:97.93659210205078px;
}
.layer2
{
position: absolute;
height: 57px;
left: 2%;
right: 0%;
top: 1350px;   
}
.frame4
{
width:270.3457946777344px;
height:57px;
padding:0px;
left:270.34px;
top:40px;
position:relative;
}
.frame5
{
width:229.53887939453125px;
height:16px;
padding:0px;
left:20.4px;
top:41px;
position:relative;
}
.rectangle3
{
width:229.53887939453125px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle4
{
width:178.5302276611328px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.06px;
position:absolute;
}
.jquery
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.4px;
position:absolute;
width:69.37174987792969px;
}

.layer3
{  position: absolute;
    height: 57px;
    left: 0.73%;
    right: 50%;
    top: 1380px;       
}
.frame6
{
width:270.3457946777344px;
height:57px;
padding:0px;
top:128px;
position:relative;
}
.frame7
{
width:229.53887939453125px;
height:16px;
padding:0px;
left:20.4px;
top:41px;
position:relative;
}
.rectangle5
{
width:229.53887939453125px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle6
{
width:213.2161102294922px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.06px;
position:absolute;
}
.photoshop
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.4px;
position:absolute;
width:91.8155517578125px;
}
.layer4
{position: absolute;
height: 57px;
left: 2.0%;
right: 0%;
top: 1380px;  
}
.frame8
{
width:270.3457946777344px;
height:57px;
padding:0px;
left:270.34px;
top:128px;
position:relative;
}
.frame9
{
width:229.53887939453125px;
height:16px;
padding:0px;
left:20.4px;
top:41px;
position:relative;
}
.rectangle7
{
width:229.53887939453125px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle8
{
width:212.19593811035156px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.06px;
position:absolute;
}
.figma
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.4px;
position:absolute;
width:52.028812408447266px;
}
.layer5
{   position: absolute;
    height: 57px;
    left: 0.73%;
    right: 50%;
    top: 1420px;       
}
.frame10
{
width:270.3457946777344px;
height:57px;
padding:0px;
top:216px;
position:relative;
}
.frame11
{
width:229.53887939453125px;
height:16px;
padding:0px;
left:20.4px;
top:41px;
position:relative;
}
.rectangle9
{
width:229.53887939453125px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle10
{
width:167.30833435058594px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.06px;
position:absolute;
}
.illustrator
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.4px;
position:absolute;
width:82.63400268554688px;
}

.layer6
{
position: absolute;
height: 57px;
left: 2.0%;
right: 0%;
top: 1420px;       
}
.frame12
{
width:270.3457946777344px;
height:57px;
padding:0px;
left:270.34px;
top:216px;
position:relative;
}
.frame13
{
width:229.53887939453125px;
height:16px;
padding:0px;
left:20.4px;
top:41px;
position:relative;
}
.rectangle11
{
width:229.53887939453125px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle12
{
width:188.73194885253906px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.06px;
position:absolute;
}
.html
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.4px;
position:absolute;
width:91.8155517578125px;
}


/*내사진이미지*/
.kangiyeon
{ position: absolute;
    width: 410px;
    height: 552px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.motion
{   position: absolute;
    height: 800px;
    left: 870px;
    right: 0px;
    top: 1400px;
   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Location8
{   position: absolute;
    width: 174px;
    height: 106px;
    left: 57.70%;
    top: 1410px;      
}
.h6
{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 52px;
/* or 175% */

text-align: center;

color: #ffffff;
}

.UI
{   position: absolute;
    width: 117px;
    height: 61px;
    left: 59.70%;
    top: 1530px;
}
.UX
{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;
/* or 158% */

text-align: center;

color: #ffffff;   
}

.add
{
position: absolute;
height: 51px;
left: 1.87%;
right: 72.64%;
top: 1750px;  
}


