
.Design
{   position: absolute;
    height: 45px;
    left: 7%;
    right: 85.38%;
    top: 2680px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    /* identical to box height, or 100% */
    
    
    color: #1A1A1A;   
}

.Career
{position: absolute;
height: 60px;
left: 7%;
right: 47.26%;
top: 2800px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #7E7E7E;}

/*스와이퍼슬라이드 표현 이미지*/

.sw
{   position: absolute;
    height: 60px;
    left: 5%;
    right: 47.26%;
    top: 2940px;    
}

/*푸터부분 주소와 프로필*/

.footer2
{
position: absolute;
height: 1214px;
left: 0%;
right: 0%;
top: 5500px;

background: #F5F8FC;
border-radius: 0px;}


.contact1
{position: absolute;
height: 45px;
left: 20%;
right: 79.53%;
top: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 45px;
/* identical to box height, or 100% */


color: #1A1A1A;}

.announcement
{
position: absolute;
height: 60px;
left: 20%;
right: 47.26%;
top: 150px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #7E7E7E;   
}

.Rectangle10
{
position: absolute;
height: 169px;
left: 20%;
right: 0%;
top: 280px;
}

.phone2
{
position: absolute;
height: 30px;
left: 25.80%;
right: 63.66%;
top: 318px;    

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;
/* identical to box height, or 158% */


color: #1A1A1A;
}

.phone3
{
position: absolute;
height: 30px;
left: 25.80%;
right: 35.49%;
top: 337px;  

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
/* identical to box height, or 200% */


color: #7E7E7E;   
}

.Rectangle11
{   position: absolute;
    height: 55px;
    left: 22%;
    right: 72.97%;
    top: 318px;       
}

.Rectangle12
{
position: absolute;
height: 169px;
left: 45.30%;
right: 0%;
top: 280px;

}

.Rectangle13
{
position: absolute;
height: 55px;
left: 47.55%;
right: 0%;
top: 318px;  
}
.Email1
{
position: absolute;
height: 30px;
left: 51.50%;
right: 66.89%;
top: 318px; 

font-family: 'Poppins';
font-style: normal;
font-weight: 400px;
font-size: 19px;
line-height: 30px;
/* identical to box height, or 158% */


color: #1A1A1A;
}
.Email2
{  position: absolute;
    height: 60px;
    left: 51.50%;
    right: 0%;
    top: 337px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
/* identical to box height, or 200% */


    color: #7E7E7E; 
}

.Rectangle14
{   position: absolute;
    height: 169px;
    left: 70.60%;
    right: 0%;
    top: 280px;
}

.Rectangle15
{   position: absolute;
    height: 55px;
    left: 72.80%;
    right: 72.97%;
    top: 318px;        
}
.Address1
{position: absolute;
height: 30px;
left: 76.70%;
right: 52.8%;
top: 318px; 

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


color: #1A1A1A;
}

.Address2
{   position: absolute;
    height: 60px;
    left: 76.70%;
    right: 0%;
    top: 337px;    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
/* identical to box height, or 200% */

    color: #7E7E7E;  
}

/*주소지와 이름 이메일 메세지*/

.ract
{   position: absolute;
    height: 555px;
    left: 380px;
    right: 0%;
    top: 520px;
}
.Record
{   position: absolute;
    height: 30px;
    left: 23%;
    right: 0%;
    top: 560px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */
    
    color: #7E7E7E;   
}

.Partner
{   position: absolute;
    height: 30px;
    left: 23%;
    right: 24.96%;
    top: 610px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height, or 200% */
    
    
    color: #1A1A1A;       
}

.name5
{position: absolute;
height: 30px;
left: 23%;
right: 29.08%;
top: 690px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


color: #1A1A1A;
}
.Email3
{position: absolute;
height: 30px;
left: 23%;
right: 29.08%;
top: 790px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


color: #1A1A1A;
}
.Message3
{position: absolute;
height: 30px;
left: 23%;
right: 29.08%;
top: 899px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


color: #1A1A1A;
}

/*hr 지시선*/

.name6
{position: absolute;
width: 520px;
height: 1px;
left: 23%;
right: 0%;
top: 720px;

background: #CBD3D9;}
.Email4
{position: absolute;
width: 520px;
height: 1px;
left: 23%;
right: 0%;
top: 820px;

background: #CBD3D9;}

.Tape
{position: absolute;
width: 520px;
height: 1px;
left: 23%;
right: 0%;
top: 930px;

background: #CBD3D9;}

.Transmission
{position: absolute;
height: 47px;
left: 23%;
right: 69.53%;
top: 980px;}

/*지도 선*/

.stroke
{position: absolute;
height: 555px;
left: 1090px;
right: 2.83%;
top: 520px;

stroke: #FFFFFF;
}

.image9
{
position: absolute;
width: 1200px;
height: 400px;
left: 1090px;
top: 520px;
}
