 .frame
{
width:540.2911987304688px;
height:304px;
padding:0px;
top:108px;
position:relative;
}
.frame2
{
width:270.1455993652344px;
height:57px;
padding:0px;
top:40px;
position:relative;
}
.frame3
{
width:229.36891174316406px;
height:16px;
padding:0px;
left:20.38px;
top:41px;
position:relative;
}
.rectangle
{
width:229.36891174316406px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle2
{
width:169.22328186035156px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.05px;
position:absolute;
}
.javascript
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.38px;
position:absolute;
}
.frame4
{
width:270.1455993652344px;
height:57px;
padding:0px;
left:270.14px;
top:40px;
position:relative;
}
.frame5
{
width:229.36891174316406px;
height:16px;
padding:0px;
left:20.38px;
top:41px;
position:relative;
}
.rectangle3
{
width:229.36891174316406px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle4
{
width:178.39804077148438px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.05px;
position:absolute;
}
.jquery
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.38px;
position:absolute;
}
.frame6
{
width:270.1455993652344px;
height:57px;
padding:0px;
top:128px;
position:relative;
}
.frame7
{
width:229.36891174316406px;
height:16px;
padding:0px;
left:20.38px;
top:41px;
position:relative;
}
.rectangle5
{
width:229.36891174316406px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle6
{
width:213.0582275390625px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.05px;
position:absolute;
}
.photoshop
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.38px;
position:absolute;
}
.frame8
{
width:270.1455993652344px;
height:57px;
padding:0px;
left:270.14px;
top:128px;
position:relative;
}
.frame9
{
width:229.36891174316406px;
height:16px;
padding:0px;
left:20.38px;
top:41px;
position:relative;
}
.rectangle7
{
width:229.36891174316406px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle8
{
width:212.038818359375px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.05px;
position:absolute;
}
.figma
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.38px;
position:absolute;
}
.frame10
{
width:270.1455993652344px;
height:57px;
padding:0px;
top:216px;
position:relative;
}
.frame11
{
width:229.36891174316406px;
height:16px;
padding:0px;
left:20.38px;
top:41px;
position:relative;
}
.rectangle9
{
width:229.36891174316406px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle10
{
width:167.1844482421875px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.05px;
position:absolute;
}
.illustrator
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.38px;
position:absolute;
}
.frame12
{
width:270.1455993652344px;
height:57px;
padding:0px;
left:270.14px;
top:216px;
position:relative;
}
.frame13
{
width:229.36891174316406px;
height:16px;
padding:0px;
left:20.38px;
top:41px;
position:relative;
}
.rectangle11
{
width:229.36891174316406px;
height:16px;
border:1px solid #7e7e7e;
}
.rectangle12
{
width:188.5922088623047px;
height:10px;
background-color:#fabccb;
top:3px;
left:3.05px;
position:absolute;
}
.html
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Poppins;
line-height:30%;
color:#1a1a1a;
top:1px;
left:20.38px;
position:absolute;
}
